
#content {
    writing-mode: vertical-rl;
    white-space: nowrap;
    position: absolute;
    font-family: "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
  }

#retry-container {
  position: absolute;
  top: 15100px;
  left: 50vw;
  transform: translateX(-50%);
}

#retry {
  display: block;
  margin: 0 auto;
  background-color: rgb(170, 255, 180);
  color: rgb(55, 139, 55);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#retry:hover {
  background-color: rgb(217, 249, 221);
  color: rgb(114, 139, 114);
}

  
#character {
    width: 90px;
    height: 133px;
    background-image: url('character.png');
    background-size: cover;
    position: fixed;
    top: 200px;
    left: 50%;
  }
  
  #background {
    background-image: url('sky.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vw * 10);
  }

  #button-container {
    position: fixed;
    bottom: 20px;
    left: 50vw;
    transform: translateX(-50%);
  }

  button {
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 40px;
  }

  
  .word {
    position: absolute;
  }